@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
*{
    box-sizing: border-box;
}
body{
    font-family:'Muli',sans-serif;
    display:flex;
    height:100vh;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin:0;
}
.container{
    display: flex;
    width: 90vw;
}
.panel{
    /* 设置图片 */
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    /* 让每张照片等比 */
    flex:1;
    height: 90vh;
    border-radius: 50px;
    color:#fff;
    cursor: pointer;
    /* 为了设置字体在固定位置 */
    position:relative;
    margin:10px;
    transition: flex 0.7s ease-in;
}
.panel h3{
    font-size: 24px;
    position: absolute;
    bottom:24px;
    left:20px;
    margin:0;
    opacity: 0;
}
.panel.active{
    flex:10;
}
.panel.active h3{
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}

/* 宽度小于480px时只显示三个panel */
@media(max-width:480px){
    .container{
        width:100vw;
    }
    .panel:nth-of-type(4),
    .panel:nth-of-type(5){
        display: none;
    }
}